<% provide(:title, "Bio") %>
<div class="container_12">	
		
<div class="grid_12 spacer">
</div>

<div class="grid_10 push_1">
	<h1 id="front_page_image">LOREM</h1>
</div>
		
<div class="clear">
</div>
<!-- Sales text -->
<div class="grid_10 push_1 bio_sales_text">
	<p>
		LOREM
	</p>
</div>
		
	<div class="clear">
	</div>

	<div class="grid_12 spacer">
	</div>			

	<div class="footer grid_12"
	></div>
</div>