<% provide(:title, "Books") %>

<div class="clear"></div>

<!-- Book Bar -->
		
<div class="grid_10 push_1">
<!-- 			<hr id="book_spacer" /> -->
	<ul class="book_nav">
		<li><a href="#" id="current_selection">William James's Ethical Republic</a></li>
		<li><%= link_to "Power Without Victory", powerwithoutvictory_path %></li>
	</ul>
	<hr id="book_spacer" />
</div>
		
<div class="clear">
</div>

<div class="grid_6 push_1">
	
	<div class="grid_6 alpha">
		<p class="buy_book"><a>Buy the Book</a></p>
	</div>
	
	<div class="book_title grid_6 alpha">
		<p>William James&rsquo;s Ethical Republic</p>
	</div>
			
	<div class="book_subhead grid_6 alpha">
		<p>A moral and political study</p>
	</div>

	<div class="book_first_paragraph grid_6 alpha">
		<p>William James&rsquo;s Ethical Republic provides the first comprehensive treatment of William James&rsquo;s ethical philosophy, including its origins, content, context, and legacies.</p>
	</div>
			
	<div class="book_description grid_6 alpha">
		<p>Unlike most studies of James, this book also examines his political thought in relation to his ethics, demonstrating their mutual coherence as well as their continuity with James&rsquo;s pragmatist epistemology and radical-empiricist metaphysics. In the process it accomplishes three goals that have not yet been achieved in any single work on James.</p>

		<p>First, by putting James&rsquo;s moral philosophy in consistent dialogue with his epistemology and metaphysics, it demonstrates the coherence and robustness of his pragmatist ethics in the absence of a deity or deontological claims, without discounting his theistic leanings and belief in the moral value of faith in a supernatural order. Second, it analyzes James&rsquo;s extension of his ethics to political questions, both theoretical and topical, involving both domestic issues and world affairs. It thus situates James in his historical moment and clarifies his contribution to what we now call democratic theory, as well as to an internationalist discourse that reached its apex during World War I. Third, it reintroduces James himself into contemporary debates over the content and applications of a pragmatist ethics, giving special attention to the potential value of a pragmatist approach to American politics and international affairs, while affirming its relevance to any society aspiring to more democratic relations among its citizens or with its neighbors.</p>

		<p>William James&rsquo;s Ethical Republic will appeal particularly to James scholars, American intellectual and cultural historians, and philosophers and cultural critics, especially those interested in the contemporary revival of pragmatism. The book is under contract with Palgrave Macmillan and the manuscript is scheduled for delivery in 2012.</p>
	</div>

</div>

<div class="grid_4 push_1">

	<div class="grid_4 alpha">
		<h2 class="book_picture">William James</h2>
	</div>
		
		<div class="pull_quote grid_4 alpha">
<!-- 				<p>&ldquo;LOREM&rdquo;</p> -->
		</div>
		
		<div class="pull_quote_author grid_4 alpha">
<!-- 				<p>- LOREM</p> -->
		</div>			
		
	</div>
		
	<div class="footer grid_12">
	</div>
	
</div>