<% provide(:shorttitle, "CV") %>
<div class="container_12">	

	<div class="clear">
	</div>

	<!-- Bio section -->
	
	<div class="push_4 grid_7">
		<h2 class="page_title">Curriculum Vitae</h2>
	</div>
	
	<div class="clear">
	</div>
	
	<div class="left_head push_1 grid_3 align_right">
		<h3><span class="left_title">Focu</span>s</h3>
	</div>
	<div class="grid_7 push_1 sales_text"><p>My research is focused on the intersection of philosophy, political ideology, public opinion, and policymaking in the nineteenth- and twentieth-century United States, with particular emphases on philosophical pragmatism, progressive reform movements, and US relations with the wider world.<p>
	</div>
	<div class="clear"></div>

	<hr class="grid_7 push_4 first_category" />

	<div class="clear"></div>
	

	
	<div class="left_head push_1 grid_3 align_right">
		<h3><span class="left_title">Contac</span>t</h3>
	</div>
	<div class="grid_8 push_1 school_name"><p>Harvard University Department of History<br />
												201 Robinson Hall, Cambridge, MA 03138<br />
												(617) 230 4332<br />
												throntv@fas.harvard.edu<p></div>
	<div class="clear"></div>

<!-- 		<div class="spacer grid_10 push_1"></div> -->

	<hr class="grid_7 push_4 first_category" />

	<div class="clear"></div>
	

	
	<div class="left_head push_1 grid_3 align_right">
		<h3><span class="left_title">Educatio</span>n</h3>
	</div>
	
	<div class="grid_3 push_1 school_name"><p>Harvard University</p></div>
	<div class="grid_4 push_1 school_location align_right"><p>Cambridge, MA 2004-2008</p></div>
	<div class="clear"></div>
	<div class="grid_7 push_4 school_description"><p>Ph.D., History, June, 2008. American intellectual history, political history, and international relations.</p></div>
	<div class="clear"></div>
	

	<div class="grid_3 push_4 school_name"><p>Harvard University</p></div>
	<div class="grid_4 push_4 school_location align_right"><p>Cambridge, MA, 2002-2004</p></div>
	<div class="clear"></div>
	<div class="grid_7 push_4 school_description"><p>A.M., History, May, 2004. Study under James T. Kloppenberg, Akira Iriye, Joyce E. Chaplin, and Mark Kishlansky.</p></div>
	<div class="clear"></div>
	
	<div class="grid_3 push_4 school_name"><p>Harvard College</p></div>
	<div class="grid_4 push_4 school_location align_right"><p>Cambridge, MA, 1997-2001</p></div>
	<div class="clear"></div>
	<div class="grid_7 push_4 school_description"><p>A.B., History and Literature, magna cum laude, June 2001. Detur Scholar, Ralph Waldo Emerson Award, Phi Beta Kappa. Senior Thesis on the intellectual and personal influence of Henry James, Sr. on the work and thought of William James.</p></div>
	<div class="clear"></div>		

	<hr class="grid_7 push_4 first_category" />

	<div class="clear"></div>
	

	
	<div class="left_head push_1 grid_3 align_right">
		<h3><span class="left_title">Language</span>s</h3>
	</div>
	<div class="grid_7 push_1 school_name"><p>Spanish (reading, proficient), French (reading, satisfactory), German (reading, satisfactory).<p></div>
	<div class="clear"></div>

	<hr class="grid_7 push_4 first_category" />

	<div class="clear"></div>
	


	<div class="left_head push_1 grid_3 align_right">
		<h3><span class="left_title">Dissertatio</span>n</h3>
	</div>
	<div class="grid_7 push_1 school_name"><p>&ldquo;Related States: Pragmatism, Progressivism, and Internationalism in American Thought and Politics, 1880-1920,&rdquo; supervised by Professors James T. Kloppenberg, Akira Iriye, and Erez Manela.<p></div>
	<div class="clear"></div>

	<hr class="grid_7 push_4 first_category" />

	<div class="clear"></div>
	


	<div class="left_head push_1 grid_3 align_right">
		<h3><span class="left_title">Research & Publication</span>s</h3>
	</div>
	<div class="grid_7 push_1 school_name"><p>Power without Victory: Woodrow Wilson and the American Internationalist Experiment<p></div>
	
	<div class="grid_7 push_4 school_description"><p>Under contract with the University of Chicago Press.</p></div>
	<div class="clear"></div>


	<div class="grid_7 push_4 research_name_second"><p>William James&rsquo;s Ethical Republic: A Moral and Political Study<p></div>
	<div class="clear"></div>
	<div class="grid_7 push_4 school_description"><p>Under contract with Palgrave Macmillan.</p></div>
	<div class="clear"></div>		


	<div class="grid_7 push_4 research_name_second"><p>The Fourteen Points<p></div>
	<div class="clear"></div>
	<div class="grid_7 push_4 school_description"><p>In Timothy J. Lynch, ed. <span class="research_publication">The Oxford Encyclopedia of American Military and Diplomatic History</span> (New York: Oxford University Press, forthcoming).</p></div>
	<div class="clear"></div>


	<div class="grid_7 push_4 research_name_second"><p>The Higher Education of Woodrow Wilson<p></div>
	<div class="clear"></div>
	<div class="grid_7 push_4 school_description"><p>In James Axtell, ed., <span class="research_publication">The Educational Legacy of Woodrow Wilson: From College to Nation</span> (Charlottesville: University of Virginia Press, 2012).</p></div>
	<div class="clear"></div>
	
	<div class="grid_7 push_4 research_name_second"><p>The Audacity of Pragmatism: William James, Barack Obama, and the American Deliberative Tradition<p></div>
	<div class="clear"></div>
	<div class="grid_7 push_4 school_description"><p>In Miriam Strube, ed., <span class="research_publication">Revisioning William James</span> (Heidelberg: Verlag Winter, forthcoming).</p></div>
	<div class="clear"></div>		

	<div class="grid_7 push_4 research_name_second"><p>A Strange Fate: Quincy Wright and the Trans-War Trajectory of Wilsonian Internationalism, 1920-1945<p></div>
	<div class="clear"></div>
	<div class="grid_7 push_4 school_description"><p>White House Studies 10.4</span> (2011), 361-377.</p></div>
	<div class="clear"></div>

	<div class="grid_7 push_4 research_name_second"><p>What was Wilson Thinking? A Review of the Literature on Wilson and World Politics<p></div>
	<div class="clear"></div>
	<div class="grid_7 push_4 school_description"><p>White House Studies 10.4</span> (2011), 460-474.</p></div>
	<div class="clear"></div>

	<div class="grid_7 push_4 research_name_second"><p>The Fable of the Fourteen Points: Woodrow Wilson and National Self-Determination<p></div>
	<div class="clear"></div>
	<div class="grid_7 push_4 school_description"><p>Diplomatic History 35</span> (June 2011), 445-481.</p></div>
	<div class="clear"></div>
			

	<div class="grid_7 push_4 research_name_second"><p>William James&rsquo;s Ethical Republic<p></div>
	<div class="clear"></div>
	<div class="grid_7 push_4 school_description"><p>Journal of the History of Ideas 72</span> (April 2011), 255-276.</p></div>
	<div class="clear"></div>

	<div class="grid_7 push_4 research_name_second"><p>Woodrow Wilson, Past and Present<p></div>
	<div class="clear"></div>
	<div class="grid_7 push_4 school_description"><p>Democracy: A Journal of Ideas</span> (Spring 2010), 99-106.</p></div>
	<div class="clear"></div>		
	
	<div class="grid_7 push_4 research_name_second"><p>The Will to Behold: Thorstein Veblen&rsquo;s Pragmatic Aesthetics<p></div>
	<div class="clear"></div>
	<div class="grid_7 push_4 school_description"><p>Modern Intellectual History 5</span> (November 2008), 519-546.</p></div>
	<div class="clear"></div>		
	
	<div class="grid_7 push_4 research_name_second"><p>&lsquo;Common Counsel&rsquo;: Woodrow Wilson&rsquo;s Pragmatic Progressivism, 1885-1913<p></div>
	<div class="clear"></div>
	<div class="grid_7 push_4 school_description"><p>In John M. Cooper, Jr., ed., <span class="research_publication">Reconsidering Woodrow Wilson: Progressivism, Internationalism, War, and Peace</span> (Washington, DC and Baltimore: The Wilson Center Press/Johns Hopkins University Press, 2008), 25-56.</p></div>
	<div class="clear"></div>
	
	<div class="grid_7 push_4 research_name_second"><p>Numbered Among the Jameses: The Ralph Waldo Emerson Centenary Address<p></div>
	<div class="clear"></div>
	<div class="grid_7 push_4 school_description"><p>Streams of William James: A Newsletter of the William James Society 5.3</p></div>
	<div class="clear"></div>

	<hr class="grid_7 push_4 first_category" />

	<div class="clear"></div>
	


	<div class="left_head push_1 grid_3 align_right">
		<h3><span class="left_title">Papers & Presentation</span>s</h3>
	</div>
	<div class="grid_7 push_1 school_name"><p>Unfated Ironies: Wilson&rsquo;s Aberrant Racism and Imperialism<p></div>
<!-- 		<div class="clear"></div> -->
	<div class="grid_7 push_4 school_description"><p>Paper in progress for the 2012 Southern Historical Association meeting in Mobile, AL, panel on &ldquo;Wilson and the South,&rdquo; November 1-4, 2012.</p></div>
	<div class="clear"></div>

	<div class="grid_7 push_4 research_name_second"><p>On a Certain Blindness: The Relevance of Race to Wilson&rsquo;s Political Vision<p></div>
	<div class="clear"></div>
	<div class="grid_7 push_4 school_description"><p>Paper in progress for the 2012 Society for Historians of American Foreign Relations conference in Hartford, CT, panel on &ldquo;Race, Memory, and Wilsonianism,&rdquo; June 28-30, 2012.</p></div>
	<div class="clear"></div>

	<div class="grid_7 push_4 research_name_second"><p>Quincy Wright and International Relations at Chicago: Toward a Critical and Constructive History of the Field<p></div>
	<div class="clear"></div>
	<div class="grid_7 push_4 school_description"><p>In progress for the annual workshop of the History of Social Science Group, Ecole normale supérieure de Cachan, France, June 15-16, 2012.</p></div>
	<div class="clear"></div>

	<div class="grid_7 push_4 research_name_second"><p>Philosophical Pragmatism and the Progressive Revolution of 1912<p></div>
	<div class="clear"></div>
	<div class="grid_7 push_4 school_description"><p>Paper in progress for the 2012 Midwestern Political Science Association meeting in Chicago, IL, panel on &ldquo;Roots of American Progressivism,&rdquo; April 12-15, 2012.</p></div>
	<div class="clear"></div>

	<div class="grid_7 push_4 research_name_second"><p>A League for the Layperson: Popular Internationalism and the American Treaty Fight, 1918-1922<p></div>
	<div class="clear"></div>
	<div class="grid_7 push_4 school_description"><p>Paper for the 2011 Society for Historians of American Foreign Relations conference in Arlington, VA, panel on &ldquo;The Internationalist Interregnum: Revision the American Narrative from Great War to Great Depression,&rdquo; June 25, 2011.</p></div>
	<div class="clear"></div>

	<div class="grid_7 push_4 research_name_second"><p>Pragmatism and the Contours of a Progressive Foreign Policy<p></div>
	<div class="clear"></div>
	<div class="grid_7 push_4 school_description"><p>Workshop at the annual Democratic Renaissance Project meeting in Washington, DC, June 16, 2011.</p></div>
	<div class="clear"></div>

	<div class="grid_7 push_4 research_name_second"><p>The Political Ethics of William James<p></div>
	<div class="clear"></div>
	<div class="grid_7 push_4 school_description"><p>Paper for the 2011 American Philosophical Association conference (Central Division) in Minneapolis, MN, panel on &ldquo;Pluralistic Uses of William James,&rdquo; April 2, 2011.</p></div>
	<div class="clear"></div>

	<div class="grid_7 push_4 research_name_second"><p>A League for the Layperson: Popular Internationalism and the American Treaty Fight, 1918-1922<p></div>
	<div class="clear"></div>
	<div class="grid_7 push_4 school_description"><p>Paper for the 2011 Organization of American Historians conference in Houston, TX, panel on &ldquo;Isolationism and Internationalism between the World Wars,&rdquo; March 19, 2011.</p></div>
	<div class="clear"></div>

	<div class="grid_7 push_4 research_name_second"><p>A League for the Layperson: Public Intellectuals, Presidential Leadership, and Popular Internationalism in the Era of the Treaty Fight, 1918-1922<p></div>
	<div class="clear"></div>
	<div class="grid_7 push_4 school_description"><p>Paper for the 2010 US Intellectual History conference in New York, NY, panel on &ldquo;Americans and the World, 1898-1922,&rdquo; October 22, 2010.</p></div>
	<div class="clear"></div>

	<div class="grid_7 push_4 research_name_second"><p>The Audacity of Pragmatism: William James, Barack Obama, and the American Deliberative Tradition<p></div>
	<div class="clear"></div>
	<div class="grid_7 push_4 school_description"><p>Delivered at the William James Society&rsquo;s William James Centenary Symposium, Cambridge, MA and Chocorua, NH, August 13-15, 2010.</p></div>
	<div class="clear"></div>

	<div class="grid_7 push_4 research_name_second"><p>A Strange Fate: Quincy Wright and the Trans-War Trajectory of Wilsonian Internationalism, 1920-1945<p></div>
	<div class="clear"></div>
	<div class="grid_7 push_4 school_description"><p>Delivered at the 2010 Woodrow Wilson Symposium, Woodrow Wilson Presidential Library, Staunton, VA, March 15-16, 2010.</p></div>
	<div class="clear"></div>

	<div class="grid_7 push_4 research_name_second"><p>The Higher Education of Woodrow Wilson<p></div>
	<div class="clear"></div>
	<div class="grid_7 push_4 school_description"><p>Delivered at Princeton University&rsquo;s Woodrow Wilson School of Public and International Affairs for a conference on &ldquo;The Legacy of Woodrow Wilson in Higher Education,&rdquo; October 16-17, 2009.</p></div>
	<div class="clear"></div>

	<div class="grid_7 push_4 research_name_second"><p>Related States: Pragmatism, Progressivism, and Internationalism in U.S. Foreign Policy, 1914-1920<p></div>
	<div class="clear"></div>
	<div class="grid_7 push_4 school_description"><p>Delivered at the 2009 American Historical Association conference in New York, NY, panel on &ldquo;New Perspectives on the U.S. Role in the World during the Gilded Age and Progressive Era,&rdquo; January 3, 2009.</p></div>
	<div class="clear"></div>

	<div class="grid_7 push_4 research_name_second"><p>Reviewing Grand Strategies of the Post-Cold War and Post-9/11 Eras<p></div>
	<div class="clear"></div>
	<div class="grid_7 push_4 school_description"><p>Background paper for a symposium organized in Cambridge, MA by Professor Ernest R. May of Harvard University, May 1, 2007, on behalf of the Bipartisan Policy Institute in Washington, DC.</p></div>
	<div class="clear"></div>

	<div class="grid_7 push_4 research_name_second"><p>&lsquo;Common Counsel&rsquo;: Wilson, Pragmatism, and Progressivism Before the War<p></div>
	<div class="clear"></div>
	<div class="grid_7 push_4 school_description"><p>Delivered at the Wilson 150 National Symposium, Woodrow Wilson International Center for Scholars, Washington, DC, October 27, 2006.</p></div>
	<div class="clear"></div>

	<div class="grid_7 push_4 research_name_second"><p>The Fable of the Fourteen Points: Woodrow Wilson and National Self-Determination<p></div>
	<div class="clear"></div>
	<div class="grid_7 push_4 school_description"><p>Delivered at the Princeton Institute for International and Regional Studies annual graduate student conference, &ldquo;Bridging Disciplines, Spanning the World: Approaches to Development, Diversity, and Democracy,&rdquo; Woodrow Wilson School of Public and International Affairs, Princeton University, Princeton, NJ, April 7-8, 2006.</p></div>
	<div class="clear"></div>
	<hr class="grid_7 push_4 first_category" />

	<div class="clear"></div>
	

	<div class="left_head push_1 grid_3 align_right">
		<h3><span class="left_title">Selected Awards & Fellowship</span>s</h3>
	</div>
	<div class="grid_7 push_1 school_name"><p>Charles Warren Center for American History, Harvard University, Associate Fellow (2011-12)<p></div>
	<div class="clear"></div>

	<div class="grid_7 push_4 research_name_second"><p>Society for Historians of American Foreign Relations Junior Faculty Research Grant (2011)<p></div>
	<div class="clear"></div>

	<div class="grid_7 push_4 research_name_second"><p>Hagley Center for the History of Business, Technology, and Society Exploratory Grant (2011)<p></div>
	<div class="clear"></div>

	<div class="grid_7 push_4 research_name_second"><p>American Catholic History Research Center Dorothy Mohler Research Grant (2011)<p></div>
	<div class="clear"></div>

	<div class="grid_7 push_4 research_name_second"><p>Huntington Library Haynes Foundation Fellowship (2010-11)<p></div>
	<div class="clear"></div>

	<div class="grid_7 push_4 research_name_second"><p>American Jewish Archives Marcus Center Rapoport Fellowship (2010-11)<p></div>
	<div class="clear"></div>

	<div class="grid_7 push_4 research_name_second"><p>FM/Harvard Crimson Top Fifteen Young Faculty (2009)<p></div>
	<div class="clear"></div>

	<div class="grid_7 push_4 research_name_second"><p>Harvard University Dissertation Completion Fellowship (2008)<p></div>
	<div class="clear"></div>

	<div class="grid_7 push_4 research_name_second"><p>Charles Warren Center for Studies in American History Research Grant (2007, 2005)<p></div>
	<div class="clear"></div>

	<div class="grid_7 push_4 research_name_second"><p>Harvard Center for American Political Studies (CAPS) Seed Grant (2006)<p></div>
	<div class="clear"></div>

	<div class="grid_7 push_4 research_name_second"><p>George C. Marshall Foundation Baruch Fellowship (2006)<p></div>
	<div class="clear"></div>

	<div class="grid_7 push_4 research_name_second"><p>Derek Bok Center Certificate of Distinction in Teaching (Spring, Fall Terms 2005)<p></div>
	<div class="clear"></div>

	<div class="grid_7 push_4 research_name_second"><p>First Prize, William James Society Annual Essay Contest (2003)<p></div>
	<div class="clear"></div>

	<div class="grid_7 push_4 research_name_second"><p>Phi Beta Kappa, Alpha Iota of Massachusetts, Harvard College (2001)<p></div>
	<div class="clear"></div>
	<hr class="grid_7 push_4 first_category" />

	<div class="clear"></div>
	

	<div class="left_head push_1 grid_3 align_right">
		<h3><span class="left_title">Teaching & Administratio</span>n</h3>
	</div>
	<div class="grid_7 push_1 school_name"><p>Asst. Director of Undergraduate Studies in History<p></div>
	<!-- <div class="clear"></div> -->
	<div class="grid_7 push_1 employer_name_time"><p>Harvard University (2009-present)</p></div>
	<div class="grid_7 push_4 school_description"><p>Appointed to oversee and overhaul the History Department&rsquo;s undergraduate advising program, senior thesis program, and student outreach initiatives, and to assist in formulating Department-wide curricular goals, structures, and standards. Also teaching one research seminar for advanced undergraduates in the spring. Worked to raise student satisfaction ratings into top three among Humanities and Social Sciences.</p></div>
	<div class="clear"></div>

	<div class="grid_7 push_4 school_name"><p>Lecturer on History<p></div>
	<div class="grid_7 push_4 employer_name_time"><p>Harvard University (2008-present)</p></div>
	<div class="grid_7 push_4 school_description"><p>2010-11 courses: History 84t, Trans-War America: Origins of an Ambivalent Empire, 1919-1945 (research seminar); History 99, Workshop for Senior Thesis Writers. 
		<br />2009-10 courses: History 84o, Woodrow Wilson&rsquo;s America: The Emergence of the Modern United States, 1856-1924 (lecture course); History 99, Workshop for Senior Thesis Writers. 
		<br />2008-09 courses: History 1461, War and the World of Ideas in America, Civil War to Iraq (lecture); History 74h, Intellectual, Cultural, and Political Origins of U.S. Foreign Relations since 1898 (reading seminar); History 1452, American Politics and Society, Reconstruction to the Present (lecture); History 84j, Pragmatism and Reform in American Social Thought (research seminar).</p></div>
	<div class="clear"></div>
			
	<div class="grid_7 push_4 school_name"><p>Tutor<p></div>
	<div class="grid_7 push_4 employer_name_time"><p>History 90f: International History (Spring 2007)</p></div>
	<div class="grid_7 push_4 school_description"><p>Taught two weekly two-hour sections of Prof. Ernest R. May&rsquo;s tutorial for sophomores planning theses in global history, the history of international relations, and/or the history of U.S. foreign policy. (Note: taught three sections of the same course for Prof. Erez Manela in spring 2006.)</p></div>
	<div class="clear"></div>
	
	<div class="grid_7 push_4 school_name"><p>Administrative Tutor<p></div>
	<div class="grid_7 push_4 employer_name_time"><p>History 97: Sophomore Tutorial (Fall 2006)</p></div>
	<div class="grid_7 push_4 school_description"><p>Coordinated the Harvard History Department&rsquo;s introductory tutorial, required of all sophomores, comprising ninety-nine students in eighteen four-to-six-student tutorials taught by thirteen tutors. Devised course syllabus; oversaw compilation of three required sourcebooks; facilitated seven teaching workshops for tutors; ran weekly staff meetings; resolved disciplinary and student-performance matters. Also taught one section, running weekly two-hour tutorials, devising sourcebook reading guides and essay assignments, grading student essays in a twenty-four-hour turnaround, and facilitating in-class peer-review conferences. (Note: taught one section of the same course in fall 2004.)</p></div>
	<div class="clear"></div>
	
	<div class="grid_7 push_4 school_name"><p>Head Teaching Fellow<p></div>
	<div class="grid_7 push_4 employer_name_time"><p>History 1661: Social Thought in Modern America (Fall 2005)</p></div>
	<div class="grid_7 push_4 school_description"><p>Taught two weekly sections of Prof. James T. Kloppenberg&rsquo;s course on late nineteenth- and early twentieth-century American political, social, and ethical thought; devised essay assignments and graded student papers; wrote and graded mid-term and final examinations; coordinated sectioning; compiled coursepack; maintained website. (Note: taught two sections of the same course in spring 2005.)</p></div>
	<div class="clear"></div>

	<div class="grid_7 push_4 school_name"><p>Teaching Fellow<p></div>
	<div class="grid_7 push_4 employer_name_time"><p>Historical Studies B-27: The English Revolution (Spring 2005)</p></div>
	<div class="grid_7 push_4 school_description"><p>Taught weekly section of Prof. Mark Kishlansky&rsquo;s course on Britain, 1603-1696.</p></div>
	<div class="clear"></div>
	<hr class="grid_7 push_4 first_category" />

	<div class="clear"></div>
	
			
	<div class="left_head push_1 grid_3 align_right">
		<h3><span class="left_title">Public History & Outreac</span>h</h3>
	</div>
	<div class="grid_7 push_1 school_name"><p>Founding Editor for History<p></div>
	<!-- <div class="clear"></div> -->
	<div class="grid_7 push_1 employer_name_time"><p>&ldquo;Footnote&rdquo; online research digest (2011-present)</p></div>
	<div class="grid_7 push_4 school_description"><p>Adviser to Chief Executive Officer, Chief Technical Officer, and Executive Editor of a Boston- and New York-based online &ldquo;community of inquiry,&rdquo; designed to disseminate research findings in several disciplines in easily digestible formats; to connect researchers across disciplines to one another and to the interested public; and to expose academic experts to potential consulting, speaking, or publication opportunities. Responsible for content acquisition and contributor recruitment. Also a contributor to the site. Note: Footnote&rsquo;s initial &ldquo;soft-launch&rdquo; and funding drive is slated for March 2012.</p></div>
	<div class="clear"></div>

	<div class="grid_7 push_4 school_name"><p>Adviser<p></div>
	<div class="grid_7 push_4 employer_name_time"><p>National-Round Entry of the Rhode Island State Champion History Day Team (2010-11)</p></div>
	<div class="grid_7 push_4 school_description"><p>Worked with Rhode Island&rsquo;s State-Champion History Day team on their national-round entry, a documentary on the U.S. debate over membership in the League of Nations during 1919 and 1920. Advised over email and in person, and consented to be interviewed and included in the final film.</p></div>
	<div class="clear"></div>
	<hr class="grid_7 push_4 first_category" />

	<div class="clear"></div>
	
	
	<div class="left_head push_1 grid_3 align_right">
		<h3><span class="left_title">Service & Scholarly Exchang</span>e</h3>
	</div>
	<div class="grid_7 push_1 school_name"><p>Boston Area Research Workshop on History, Institutions, and Politics (2011-)<p></div>
	<div class="clear"></div>

	<div class="grid_7 push_4 research_name_second"><p>Harvard College Standing Committee on Speaking and Writing (2011-)<p></div>
	<div class="clear"></div>

	<div class="grid_7 push_4 research_name_second"><p>Harvard College Research Program Application Reviewer (2011)<p></div>
	<div class="clear"></div>

	<div class="grid_7 push_4 research_name_second"><p>Radcliffe Institute for Advanced Study Seminar on History of the Social Sciences (2010)<p></div>
	<div class="clear"></div>

	<div class="grid_7 push_4 research_name_second"><p>Harvard Department of History Curriculum Committee (2009-)<p></div>
	<div class="clear"></div>

	<div class="grid_7 push_4 research_name_second"><p>Harvard Department of History Board of Examiners (2009-)<p></div>
	<div class="clear"></div>

	<div class="grid_7 push_4 research_name_second"><p>Thomas Temple Hoopes Undergraduate Thesis Prize Committee (2008-09; 2010-11)<p></div>
	<div class="clear"></div>

	<div class="grid_7 push_4 research_name_second"><p>Non-Resident Tutor in History, Adams House, Harvard College (2007-08)<p></div>
	<div class="clear"></div>

	<div class="grid_7 push_4 research_name_second"><p>Assistant Coordinator, Harvard International and Global History Seminar (2006-07)<p></div>
	<div class="clear"></div>

	<div class="grid_7 push_4 research_name_second"><p>Non-Resident Tutor in History, Leverett House, Harvard College (2005-08)<p></div>
	<div class="clear"></div>	

	<div class="grid_7 push_4 research_name_second"><p>Advisor/Reader, Senior Theses in History/Social Studies, Harvard College (2004-12)<p></div>
	<div class="clear"></div>


	</div>
	
	<div class="footer grid_12"></div>
	
	
</div>