<% provide(:title, "Home") %>
<div class="container_12">	
<!-- Placeholder text for frontpage image -->
		
	<div class="grid_12 spacer"></div>

		
	<div class="grid_3 push_1 front_page_image_container">
		<h1 id="front_page_image">Tryg</h1>
	</div>
		<!-- Sales text -->
	<div id="sales_text" class="grid_7 push_1">
		<p>Hi! I&rsquo;m a lecturer and assistant director of Undergraduate Studies at Harvard University. I&rsquo;m currently working on <%= link_to "two projects", books_path %></a>. The first is a book for the University of Chicago Press called <%= link_to "Power Without Victory", powerwithoutvictory_path %>, exploring Woodrow Wilson&rsquo;s forgotten contributions to American power. I&rsquo;m also working on a book about <%= link_to "William James", books_path %>. Learn more <%= link_to "here", bio_path %>.</p>
	</div>
		
	<div class="clear"></div>
		
	<div class="grid_12 spacer"></div>
	
		
	<div class="container_12 grid_12">
		<!-- Sales and Special Project Boxes. The popover class is for mouseover events. -->
		<div id="box_01" class="grid_4 push_1 sales_box">
			<hr />
			<h2><a>William James</a></h2>
			<p>LOREM</p>
				<!--
<div class="popover">
					<a href="/williamjames">
					<h3>William James</h3>
					<p>LOREM</p>
					</a>
				</div>
-->
			<hr />

		</div>
			
			
			
		<div id="box_02" class="grid_4 push_3 sales_box">
			<hr />
			<h2><a>Power Without Victory</a></h2>
			<p>LOREM</p>
				<!--
<div class="popover">
					<a href="/powerwithoutvictory">
					<h3>Power Without Victory</h3>
					<p>LOREM</p>
					</a>
				</div>
-->
			<hr />



		</div>
	</div>	
	<div></div>
		
	</div>
</div>