<div class="navbar_background">
			<div class="container_12">		
				<div class="grid_3 push_1">
					<p id="main_logo"><a href="/">Trygve Throntveit</a></p>
				</div>
				<div class="navbar push_1 grid_7 align_right">
				<ul>
					<li class="nav"><a href="/publications">Publications</a></li>
					<li class="nav"><a href="/books">Books</a></li>
					<li class="nav"><a href="/media" id="current_selection">Media</a></li>
					<li class="nav"><a href="/cv">CV</a></li>
					<li class="nav"><a href="/bio">Bio</a></li>
					<li class="nav"><a href="mailto:trygve@trygve.com">Contact</a></li>
				</ul>
				</div>
			</div>
		</div>


		<div class="container_12">	

		<div class="clear"></div>


		<!-- Sales Pitch. I think every page should have one, the publications one should reflect in greater detail what the authors write -->

		<div class="push_4 grid_7">
			<h2 class="page_title">Media</h2>
		</div>
		
		<div class="clear"></div>
		
	<div class="publications_list">
	
		
		<div class="left_head push_1 grid_3 align_right">
			<h3><span class="left_title">The New York Time</span>s</h3>
		</div>
		<div class="grid_7 push_1 publication_title"><p><a href="http://campaignstops.blogs.nytimes.com/2012/05/21/obama-and-the-new-freedom/?pagewanted=all&gwh=DFD1D8D58FB68CC35A0A2E42FF095132">Obama and the New Freedom</a><p></div>
		<div class="clear"></div>
		<div class="grid_7 push_4 publication_author"><p>May 21, 2012</p></div>
		<div class="clear"></div>
		<div class="grid_7 push_4 publication_description"><p>In evaluating President Barack Obama’s legislative record, historically inclined commentators frequently compare his first term to the early years of Franklin Delano Roosevelt&rsquo;s New Deal. When it comes to winning re-election, however, the commentators — and Obama — might learn something from the only Democrat besides F.D.R. to win multiple elections in the 20th century on reform platforms: Woodrow Wilson.</p></div>
		


				
		<div class="clear"></div>


		
		<div class="footer grid_12"></div>
		
	</div>
		
	</div>