<div class="navbar_background">
			<div class="container_12">		
				<div class="grid_3 push_1">
					<p id="main_logo"><a href="/">Trygve Throntveit</a></p>
				</div>
				<div class="navbar push_1 grid_7 align_right">
				<ul>
					<li class="nav"><a href="/publications">Publications</a></li>
					<li class="nav"><a href="/books" id="current_selection">Books</a></li>
					<li class="nav"><a href="/media">Media</a></li>
					<li class="nav"><a href="/cv">CV</a></li>
					<li class="nav"><a href="/bio">Bio</a></li>
					<li class="nav"><a href="mailto:trygve@trygve.com">Contact</a></li>
				</ul>
				</div>
			</div>
		</div>


		<div class="container_12">	

		<div class="clear"></div>
		
		<!-- Book Bar -->
		
		<div class="grid_10 push_1">
<!-- 			<hr id="book_spacer" /> -->
			<ul class="book_nav">
				<li><a href="../books">William James's Ethical Republic</a></li>
				<li><a href="../books/powerwithoutvictory.html" id="current_selection">Power Without Victory</a></li>
			</ul>
			<hr id="book_spacer" />
		</div>		
		<div class="clear"></div>

		<div class="grid_6 push_1">
	
			<div class="grid_6 alpha">
				<p class="buy_book"><a>Buy the Book</a></p>
			</div>
	
			<div class="book_title grid_6 alpha">
				<p>Power without Victory</p>
			</div>
			
			<div class="book_subhead grid_6 alpha">
				<p>Woodrow Wilson and the American Internationalist Experiment</p>
			</div>

			<div class="book_first_paragraph grid_6 alpha">
				<p>Power without Victory (now under contract with the University of Chicago Press) examines connections between philosophy, popular ideology, domestic reform, and foreign policy, providing a model of political history as cultural history.</p>
			</div>
			
			<div class="book_description grid_6 alpha">
				<p>It also complicates a narrative that for ninety years has shaped not only the government&rsquo;s role at home and abroad, but the nation&rsquo;s image in the minds of its citizens. The core of the book reinterprets the origins, content, and public reception of Wilson&rsquo;s domestic and foreign policies, culminating in a careful reconstruction of popular support for US membership in the League of Nations. In the process it recovers Wilson&rsquo;s forgotten debt to the pragmatist progressives, activist intellectuals fired by the ethical ideas of the philosopher William James. While helping Wilson lay the grounds for the American welfare state, these reformers also aided his translation of domestic progressivism into the nation&rsquo;s first genuinely internationalist foreign policy. Both developments are key to understanding American political culture in the following century, especially the ambivalence toward international institutions that to this day complicates America&rsquo;s domestic and foreign politics.</p>
				<p>Wilson&rsquo;s connection to pragmatists such as Jane Addams, W.E.B. Du Bois, Louis Brandeis, and Walter Lippmann was as complex as it was important. Though blind to the tragedy of racism in America, neglectful of political freedoms in wartime, and responsible for imperialist incursions in Latin America, Wilson drew on pragmatist ideas to develop his New Freedom reforms and, eventually, his radical vision for the postwar world. This vision was embodied in his plan for a League of Nations: a deliberative polity, requiring significant concessions of sovereignty from members, to facilitate cooperative change. Contrary to memory, support for Wilsonss vision among a majority of US interest groups was strong, and survived the disappointments of the 1919 Peace Conference. Only a stroke-impaired Wilson&rsquo;s late refusal to compromise with rivals kept the US out of the League. The emergence of a European status quo and return of American prosperity in the 1920s dissipated the urgent expectation of US League membership, but did not diminish its import: membership would have allowed more coordinated responses to the crises of the 1930s, and fostered a less domineering form of US global leadership than emerged after 1945.</p>
				<p>Methodologically, Power without Victory follows dialogues across a diverse array of intellectual, cultural, and institutional communities and actors. Drawing on archival research and a wide range of cultural-historical products, it weaves together intellectual, cultural, political, and international history, enhancing the explanatory power of each. Substantively, the book contextualizes ideas and activities whose contingent outcomes are often invoked to support agendas pursued in circumstances radically different from the past. Thus petitions to Congress, women's club annuals, and Chamber of Commerce leaflets all help demonstrate that the nation was not fated to spurn international organization in 1919-20, and that its doing so does not mean similar efforts will or must fail. The book will interest and challenge historians, political scientists, policy intellectuals, and anyone contemplating the potential for significant reform of both American and global politics</p>
			</div>



		</div>

		<div class="grid_4 push_1">

			<div class="grid_4 alpha">
				<h2 class="book_picture">William James</h2>
			</div>
		
			<div class="pull_quote grid_4 alpha">
<!-- 				<p>&ldquo;LOREM&rdquo;</p> -->
			</div>
		
			<div class="pull_quote_author grid_4 alpha">
<!-- 				<p>- LOREM</p> -->
			</div>			
		
		</div>

		<div class="footer grid_12"></div>
		
		
	</div>