<% provide(:shorttitle, "Publications") %>
<div class="container_12">	

	<div class="clear"></div>


	<!-- Sales Pitch. I think every page should have one, the publications one should reflect in greater detail what the authors write -->

	<div class="push_4 grid_7">
		<h2 class="page_title">Publications</h2>
	</div>
	
	<div class="clear"></div>
	
	<div class="publications_list">

	
		<div class="left_head push_1 grid_3 align_right">
			<h3><span class="left_title">Submitte</span>d</h3>
		</div>
		<div class="grid_7 push_1 publication_title"><p>The Fourteen Points<p></div>
		<div class="clear"></div>
		<div class="grid_7 push_4 publication_author"><p>Trygve Throntveit</p></div>
		<div class="clear"></div>
		<div class="grid_7 push_4 publication_description"><p>In The Oxford Encyclopedia of American Military and Diplomatic History, edited by Timothy J. Lynch. New York: Oxford University Press, Submitted.</p></div>
	
		<div class="clear"></div>
		
		<hr class="grid_7 push_4 first_category" />

		<div class="clear"></div>
		
		<div class="left_head push_1 grid_3 align_right">
			<h3><span class="left_title">In Pres</span>s</h3>
		</div>

		<div class="grid_7 push_1 publication_title"><p>The Audacity of Pragmatism: William James, Barack Obama, and the American Deliberative Tradition<p></div>
		<div class="clear"></div>
		<div class="grid_7 push_4 publication_author"><p>Trygve Throntveit</p></div>
		<div class="clear"></div>
		<div class="grid_7 push_4 publication_description"><p>In <span class="publications_publication_name">Revisioning William James</span>, edited by Miriam Strube. Heidelberg: Verlag Winter, In Press.</span></p></div>
		
		<div class="clear"></div>

		
		<div class="grid_7 push_4 publication_title"><p>The Higher Education of Woodrow Wilson<p></div>
		<div class="clear"></div>
		<div class="grid_7 push_4 publication_author"><p>Trygve Throntveit</p></div>
		<div class="clear"></div>
		<div class="grid_7 push_4 publication_description"><p>In <span class="publications_publication_name">The Educational Legacy of Woodrow Wilson: From College to Nation</span>, edited by James Axtell. Charlottesville, VA: University of Virginia Press, In Press.</span></p></div>
		
		<div class="clear"></div>

		
		<hr class="grid_7 push_4 first_category" />

		<div class="clear"></div>
		

		
		<div class="left_head push_1 grid_3 align_right">
			<h3><span class="left_title">201</span>1</h3>
		</div>

		<div class="grid_7 push_1 publication_title"><p>The Fable of the Fourteen Points: Woodrow Wilson and National Self-Determination<p></div>
		<div class="clear"></div>
		<div class="grid_7 push_4 publication_author"><p>Trygve Throntveit</p></div>
		<div class="clear"></div>
		<div class="grid_7 push_4 publication_description"><p><span class="publications_publication_name">Diplomatic History</span> 35, no. 3 (2011): 445-481. <a href="http://scholar.harvard.edu/throntveit/files/fable_of_the_fourteen_points_dh_35.3_june_2011.pdf">Download PDF</a></p></div>
		
		<div class="clear"></div>

		
		<div class="grid_7 push_4 publication_title"><p>A Strange Fate: Quincy Wright and the Trans-War Trajectory of Wilsonian Internationalism, 1920-1945<p></div>
		<div class="clear"></div>
		<div class="grid_7 push_4 publication_author"><p>Trygve Throntveit</p></div>
		<div class="clear"></div>
		<div class="grid_7 push_4 publication_description"><p><span class="publications_publication_name">White House Studies</span> 10, no. 4 (2011): 361-377. <a href="http://scholar.harvard.edu/throntveit/files/a_strange_fate_whs_10.4.pdf">Download PDF</a></p></div>
		
		<div class="clear"></div>

		<div class="grid_7 push_4 publication_title"><p>What Was Wilson Thinking? A Review of the Literature on Wilson and World Politics<p></div>
		<div class="clear"></div>
		<div class="grid_7 push_4 publication_author"><p>Trygve Throntveit</p></div>
		<div class="clear"></div>
		<div class="grid_7 push_4 publication_description"><p><span class="publications_publication_name">White House Studies 10</span>, no. 4 (2011): 460-474. <a href="http://scholar.harvard.edu/throntveit/files/what_was_wilson_thinking_whs_10.4.pdf">Download PDF</a></p></div>
		
		<div class="clear"></div>

		<div class="grid_7 push_4 publication_title"><p>William James's Ethical Republic<p></div>
		<div class="clear"></div>
		<div class="grid_7 push_4 publication_author"><p>Trygve Throntveit</p></div>
		<div class="clear"></div>
		<div class="grid_7 push_4 publication_description"><p><span class="publications_publication_name">The Journal of the History of Ideas</span> 72, no. 2 (2011): 255-277. <a href="http://scholar.harvard.edu/throntveit/files/t.throntveit_wjs_ethical_republic_jhi.72.2011.pdf">Download PDF</a></p></div>
		
		<div class="clear"></div>

		<hr class="grid_7 push_4 first_category" />

		<div class="clear"></div>
		



		<div class="left_head push_1 grid_3 align_right">
			<h3><span class="left_title">201</span>0</h3>
		</div>

		<div class="grid_7 push_1 publication_title"><p>Woodrow Wilson, Past and Present<p></div>
		<div class="clear"></div>
		<div class="grid_7 push_4 publication_author"><p>Trygve Throntveit</p></div>
		<div class="clear"></div>
		<div class="grid_7 push_4 publication_description"><p><span class="publications_publication_name">Democracy: A Journal of Ideas Spring</span>, no. 2010 (2010): 99-106. <a href="http://scholar.harvard.edu/throntveit/files/throntveit_cooper_review_democracy_joi.pdf">Download PDF</a></p></div>
				
		<div class="clear"></div>

		<hr class="grid_7 push_4 first_category" />

		<div class="clear"></div>
		


		<div class="left_head push_1 grid_3 align_right">
			<h3><span class="left_title">200</span>8</h3>
		</div>
			
		<div class="grid_7 push_1 publication_title"><p>"Common Counsel": Woodrow Wilson's Pragmatic Progressivism, 1885-1913<p></div>
		<div class="clear"></div>
		<div class="grid_7 push_4 publication_author"><p>Trygve Throntveit</p></div>
		<div class="clear"></div>
		<div class="grid_7 push_4 publication_description"><p>In <span class="publications_publication_name">Reconsidering Woodrow Wilson: Progressivism, Internationalism, War, and Peace</span>, edited by Jr. John M. Cooper, 25-56. Washington, DC/Baltimore: Wilson Center Press/Johns Hopkins University Press, 2008. <a href="http://scholar.harvard.edu/throntveit/files/throntveit_common_counsel_w._title_page.pdf">Download PDF</a></p></div>
				
		<div class="clear"></div>

		<div class="grid_7 push_4 publication_title"><p>The Will to Behold: Thorstein Veblen's Pragmatic Aesthetics<p></div>
		<div class="clear"></div>
		<div class="grid_7 push_4 publication_author"><p>Trygve Throntveit</p></div>
		<div class="clear"></div>
		<div class="grid_7 push_4 publication_description"><p><span class="publications_publication_name">Modern Intellectual History</span> 5, no. 3 (2008): 519-546. <a href="http://scholar.harvard.edu/throntveit/files/throntveit_will_to_behold_mih_5.3_2008.pdf">Download PDF</a></p></div>
				
		<div class="clear"></div>

		<hr class="grid_7 push_4 first_category" />

		<div class="clear"></div>
		


		<div class="left_head push_1 grid_3 align_right">
			<h3><span class="left_title">200</span>3</h3>
		</div>

		<div class="grid_7 push_1 publication_title"><p>Numbered among the Jameses: The Address at the Emerson Centenary<p></div>
		<div class="clear"></div>
		<div class="grid_7 push_4 publication_author"><p>Trygve Throntveit</p></div>
		<div class="clear"></div>
		<div class="grid_7 push_4 publication_description"><p><span class="publications_publication_name">Streams of William James: A Newsletter of the William James Society</span> 5, no. 3 (2003): 20-25. <a href="http://scholar.harvard.edu/throntveit/files/throntveit_numbered_among_the_jameses_streams_5.3_2003.pdf">Download PDF</a></p></div>
				
		<div class="clear"></div>
		
		<div class="footer grid_12"></div>
		
	</div>
	
</div>