	
	* {
		margin: 0;
		padding: 0;
	}
	
	
	li {
		padding-top: 12px;
		display: inline;
		padding-left: 10px;
		font-family: 'Josefin Sans', serif;
		font-weight: 600;
		font-size: 18px;
		text-transform: uppercase;
		text-align: right;
		}
			
	li a {
		text-decoration: none;
		padding-right: 10px;			
		}

	li:last-child {
		padding-right: 0px;
	}
	
	.book_nav {
		text-align: center;
		margin-top: 15px;
		margin-bottom: 20px;
	}
	
	.sales_text {
		font-family: 'Playfair Display', serif;
		font-weight: 400;
		font-size: 20px;
		line-height: 1.4em;
		padding-top: 16px;
	}
	
	
	
	h2.book_picture {
		background: url(../graphics/images/william-james.jpg) no-repeat;
		background-size: 300px 440px;
		-webkit-background-size: 300px 440px;
		-moz-background-size: 300px 440px;
		height: 440px;
		text-indent: -9999px;
		margin-bottom: 10px;
	}
	
	.book_title {
		font-family: 'Playfair Display';
		font-size: 60px;
		font-weight: 400;
		line-height: 1.2em;
	}
	
	.book_subhead {
		font-family: 'Playfair Display';
		font-style: italic;
		font-size: 30px;
		font-weight: 400;
		line-height: 1.2em;
		margin-top: 5px;
	}
	
	.book_first_paragraph {
		font-family: 'Vollkorn' serif;
		font-size: 24px;
		font-weight: 400;
		margin-top: 10px;
		line-height: 1.3em;
	}
	
	.book_description {
		font-family: 'Vollkorn' serif;
		font-size: 18px;
		font-weight: 400;
		line-height: 1.3em;
	}
	
	.book_description p {
		padding-top: 10px;
	}

	.pull_quote {
		font-family: "Playfair Display";
		font-style: italic;
		font-size: 28px;
		font-weight: 400;
	}

	.pull_quote_author {
		font-family: "Josefin Slab";
		font-size: 20px;
		font-weight: 400;
		text-transform: uppercase;
		text-align: right;
		margin-top: 5px;
	}
	
	h3 {
		font-family: 'Josefin Sans', serif;
		font-weight: 400;
		text-transform: uppercase;
		padding-top: 8px;
		font-size: 18px;
		margin-top: 16px;
		border-bottom: 1px dashed;
	}
	
	
	
	.left_title {
		letter-spacing: 0.1em;
	}
	
	.publication_author {
		font-family: 'Playfair Display', serif;
		font-weight: 400;
		font-size: 26px;
	}
	
	
	.school_name {
		font-family: 'Playfair Display', serif;
		font-weight: 400;
		font-size: 18px;
		padding-top: 18px;
		letter-spacing: 0.01em;
	}

	.employer_name_time {
		font-family: 'Playfair Display', serif;
		font-weight: 400;
		font-style: italic;
		font-size: 18px;
		padding-top: 1px;
		letter-spacing: 0.1em;
	}



	.school_name_one_line {
		font-family: 'Playfair Display', serif;
		font-weight: 400;
		font-size: 18px;
		padding-top: 36px;
		letter-spacing: 0.1em;
	}



	.research_name_second {
		font-family: 'Playfair Display', serif;
		font-weight: 400;
		font-size: 18px;
		padding-top: 10px;
		letter-spacing: 0.1em;
	}


	.school_location {
		font-family: 'Playfair Display', serif;
		font-weight: 400;
		font-size: 18px;
		padding-top: 18px;
		letter-spacing: 0.1em;
	}	

	.school_description {
		font-family: 'Vollkorn', serif;
		font-weight: 400;
		font-size: 16px;
		line-height: 1.35em;
		padding-top: 2px;
	}	

	
	.publication_title {
		font-family: 'Playfair Display', serif;
		font-weight: 400;
		font-size: 26px;
		padding-top: 10px;
		line-height: 1.3em;
	}
	
	.publication_author {
		font-family: 'Vollkorn', serif;
		font-weight: 400;
		font-size: 18px;
		font-style: italic;
		margin-top: 3px;
		margin-bottom: 1px;
	}
	
	.publication_description {
		font-family: 'Vollkorn', sans-serif;
		font-weight: 400;
		font-size: 18px;
		line-height: 1.5em;
	}
	
		.navbar {
			padding-top: 13px;
		}
	
		#main_logo {
		font-family: 'Josefin Slab', serif;
		font-weight: 600;
		text-transform: uppercase;
		padding-top: 12px;
		font-size: 18px;
		letter-spacing: 1px;
	}
		
	
	.page_title {
		font-family: 'Josefin Slab', serif;
		font-family: 400;
		font-size: 40px;
		padding-top: 30px;
		padding-bottom: 15px;
		
	}
	
	
	.publications_sales_text {
		
	}
	